{% load static %}
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-pklaceholder-img rounded-circle" width="350" height="350" xmlns="http://www.w3.org/2000/svg"  role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Ticket</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            <image href="{% static '/img/turnero.jpg' %}" height="350" width="350" />
        </svg>
        <h2 class="fw-normal">Ticket</h2>
        <p>Sacar turno por medio del ticket para ser atendido</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="350" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            <image href="{% static '/img/pantalla.jpg' %}" height="350" width="350" />
        </svg>
        <h2 class="fw-normal">Pantalla</h2>
        <p>Turnos en Pantalla</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
