{% extends 'base.html' %}

{% block formulario%}
    <h1>{{Titulo}}</h1>

    <form method="POST" action ="">  {% csrf_token %} 
        {{Formulario.as_p}}
        <input type = "submit" value = "Guardar"/>
    </form>
{% endblock %}   