<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      {% comment %} <a class="navbar-brand" href="#">TURNERO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> {% endcomment %}
      </button>  
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
          <li class="nav-item">
            {% comment %} <a class="nav-link active" aria-current="page" href="#">Mantenimiento</a> {% endcomment %}
            {% comment %} <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true"> {% endcomment %}
            <button class="nav-link active" aria-current="page" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Mantenimiento
              </button>
              <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="nav-link active" aria-current="page">Servicios</a></li>
                  <li><a href="#" class="nav-link active" aria-current="page">Prioridad</a></li>
                  <li><a href="#" class="nav-link active" aria-current="page">Reports</a></li>
                </ul>
              </div>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ver Colas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Configurar Colas</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>